
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-4" style="text-align:center">
        <a href="/Narudzbina/Index/?paket=1"><img src="http://www.leadershipwriter.com/wp-content/uploads/2013/08/silver.jpg" alt="Alternate Text" /></a>
        <h5 class="paket">Silver paket(3 tokena)</h5>
    </div>
    <div class="col-md-4" style="text-align:center">
        <a href="/Narudzbina/Index/?paket=2"><img src="http://www.leadershipwriter.com/wp-content/uploads/2013/08/gold.jpg" alt="Alternate Text" /></a>
        <h5 class="paket">Gold paket(5 tokena)</h5>
    </div>
    <div class="col-md-4" style="text-align:center">
        <a href="/Narudzbina/Index/?paket=3"><img src="http://www.celestialhealing.net/websitestuff/buttons/patinum.jpeg" alt="Alternate Text" /></a>
        <h5>Platinum paket(10 tokena)</h5>
    </div>
</div>